@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url(./variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: smooth;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  background: var(--color-tertiary);
}

ul {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.form-group input, .form-group textarea {
  background: transparent;
  color: var(--text-color);
  margin-bottom: 1rem;
}

main {
  margin-top: 100px;
}
main h1, main section h1 {
  font-weight: 600;
  font-size: 2.6rem;
}

header .main-header .logo a > img {
  width: 60px;
  height: auto;
  object-fit: contain;
}
header .main-header .menu-toggle {
  position: absolute;
  top: 0.3rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .main-header .menu-toggle > svg {
  width: 40px;
  height: 60px;
  color: var(--color-quaternary);
  transition: 0.3s;
}
header .main-header .menu-toggle > svg :hover {
  color: var(--color-secondary);
}
header .main-header .menu-toggle > svg :active {
  color: var(--color-primary);
}
header .container-nav {
  height: 100%;
  overflow: hidden;
  /* max-height: 100%; */
  z-index: 2;
  width: 100%;
  position: fixed;
  background: linear-gradient(45deg, #FFF 4%, 0%, #333 100%);
  top: 0;
  right: -200%;
  transition: all 0.5s ease-in-out;
}

.form-control {
  border: 1px solid rgba(245, 245, 220, 0.2);
  border-bottom: 1px solid rgba(111, 78, 55, 0.5);
}

.form-control:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 0 0.25rem rgba(255, 195, 0, 0.25);
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  margin-top: 12rem;
}
.auto-grid .col {
  padding: 4rem 1rem 2rem;
  text-align: center;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  position: relative;
  bottom: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  margin-bottom: 6rem;
}
.auto-grid .col .img-item {
  display: flex;
  justify-content: center;
}
.auto-grid .col:hover {
  transform: translateY(-0.2rem);
}
.auto-grid .col h2 {
  font-size: 2rem;
  font-weight: 600;
}
.auto-grid .col li {
  margin-bottom: 1rem;
}
.auto-grid .col img {
  width: 120px;
  height: 130px;
  border-radius: 0.5rem;
  position: absolute;
  top: -4.7rem;
}
.auto-grid .col .desc-item {
  height: 50px;
  overflow: hidden;
}

#listing .listing-info {
  margin: 12rem 40px 2rem;
}
#listing .listing-info > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
#listing .listing-info .card-auction {
  position: relative;
  background-color: var(--color-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 7rem 1rem 2rem;
}
@media (min-width: 700px) {
  #listing .listing-info .card-auction {
    padding: 10rem 1rem 2rem;
  }
}
@media (max-width: 360px) {
  #listing .listing-info .card-auction {
    padding: 5.8rem 1rem 2rem;
  }
}
@media (max-width: 320px) {
  #listing .listing-info .card-auction {
    padding: 4rem 1rem 2rem;
  }
}
#listing .listing-info .card-auction .watch-on a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 0.96rem;
}
#listing .listing-info .card-auction .watch-on a svg {
  padding-right: 0.3rem;
}
#listing .listing-info .bids {
  border: 1px solid var(--color-quinary);
  margin-top: 2rem;
  padding: 2rem;
  background: var(--color-secondary);
  color: var(--teal);
}
#listing .listing-info .bids h3 {
  color: var(--color-quaternary);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
#listing .listing-info .bids .header-bid {
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 1.6rem;
  background: var(--color-quaternary);
}
#listing .listing-info .bids .bid {
  border-bottom: 1px solid var(--color-quinary);
  padding: 0 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#listing .listing-info .bids .bid p {
  margin: 0;
}
#listing .listing-info .bids .form-group input, #listing .listing-info .bids .form-group textarea {
  background: transparent;
  color: var(--text-color);
  margin-bottom: 1rem;
}
#listing .listing-info .bids .form-group .btn-primary:not(:disabled):not(.disabled):active {
  box-shadow: var(--box-shadow-btn);
}
#listing .listing-info .bids .form-group .d-flex {
  justify-content: center;
}
#listing .listing-info .bids .form-group button {
  padding: 0.2rem 2rem 0.2rem 1rem;
  background: var(--color-quinary);
  border: none;
}
#listing .listing-info .bids .form-group button > img {
  width: 20px;
  height: 25px;
}
#listing .listing-info .listing-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#listing .listing-info .listing-image > img {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -9.5rem;
  border-radius: 0.5rem;
}
@media (max-width: 320px) {
  #listing .listing-info .listing-image > img {
    width: 300px;
  }
}
@media (min-width: 768px) {
  #listing .listing-info .listing-image > img {
    width: 300px;
  }
}
#listing .listing-info .listing-description {
  display: block;
  width: 100%;
  height: auto;
}
#listing .listing-info .listing-description > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
#listing .listing-info .listing-price {
  display: block;
  width: 100%;
  height: auto;
}
#listing .listing-info .listing-price > p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #dfdfdfdf;
  text-shadow: 0 2px 6px var(--color-quinary);
}
#listing .listing-info .close-auction {
  display: block;
  width: 100%;
  height: auto;
}
#listing .listing-info .close-auction > p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
