:root {
    --auto-grid-min-size: 20rem;
    /*==Colors==*/
    --text-color: #FFF;
    --text-color-dark: #333;
    --color-primary: #A7414A;
    --color-secondary: #282726;
    --color-tertiary: #6A8A82;
    --color-quaternary: #A37C27;
    --color-quinary: #563838;
    --shadow-1: rgb(255, 195, 0);
    --box-shadow-btn: 0 0 0 .2rem rgba(255,170,0,.5);
    --god-color: linear-gradient(251.39deg, #563838 8.77%, #282726 123.82%), linear-gradient(251.39deg, #A7414A -3.87%, #282726 123.82%);
}