{% extends "auctions/layout.html" %}

{% block title %}
    Auctions - Categories
{% endblock %}

{% block body %}
  <section id="category">
    {% if not category %}
    <div class="category-title">
      <h1 class="text-center">Categories</h1>
    </div>
    <div class="category-list">
      <ul>
        {% for category in categories %}
            <li><a href="{% url 'categories'  category.id %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
  {% else %}
    <div class="go-back-category">
      <a href="{% url 'categories' 0 %}">
        <span class="iconify" data-icon="emojione-v1:back-arrow"></span>
      </a>
    </div>

    <ul class="auto-grid listing-info">
      {% for item in listings %}
          <div class="col  card-auction">
              <h2>{{ item.title }}</h2>

              <div class="listing-image text-center">
                <img src={{item.image_url}}>
              </div>
              <div class="listing-description text-center">
                {{ item.description}}
              </div>
              <div class="listing-price text-center">
                <p>Starting Bid ${{item.inicial_bid}}</p>
              </div>
              <a href="{% url 'listing' item.id %}">
                  <button  class="btn btn-dark">See more</button>
              </a>
          </div>
      {% endfor %}
      </ul>
  {% endif %}
  </section>
{% endblock %}