{% extends "auctions/layout.html" %}

{% block body %}
  <section id="category">
    {% if not category %}
    <div class="category-title">
      <h1 class="text-center">Categories</h1>
    </div>
    <div class="category-list">
      <ul>
        {% for category in categories %}
            <li><a href="{% url 'categories'  category.id %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
  {% else %}
    <div class="go-back-category">
      <a href="{% url 'categories' 0 %}">
        <span class="iconify" data-icon="emojione-v1:back-arrow"></span>
      </a>
    </div>

    <ul class="auto-grid">
      {% for item in listings %}
          <div class="col">
              <h2>{{ item.title }}</h2>
              <li class="img-item">
                  <img src={{item.image_url}}>
              </li>
              <li class="desc-item">{{ item.description}}</li>
              <li class="price-iten">${{ item.inicial_bid}}</li>
              <a href="{% url 'listing' item.id %}">
                  <button class="">See more</button>
              </a>
          </div>
      {% endfor %}
      </ul>
  {% endif %}
  </section>
{% endblock %}