{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
     <ul class="auto-grid">
        {% for t in teste %}
            {% if t.active == 1 %}
            <div class="col">
                <div class="watch-con">
                    <a href="{% url 'watchlist' t.id  0 %}">
                        <span class="iconify" data-icon="fxemoji:eye"></span>add to watchlist
                    </a>
                </div>
                <h2>{{ t.title}}</h2>
                <li class="img-item">
                    <img src={{t.image_url}}>
                </li>
                <li class="desc-item">{{ t.description}}</li>
                <li class="price-iten">${{ t.inicial_bid}}</li>
                <a href="{% url 'listing' t.id %}">
                    <button class="">See more</button>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </ul> 
{% endblock %}