{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
     <ul class="auto-grid">
        {% for t in teste %}
            {% if t.active == 1 %}
            <div class="col">
                <h2>{{ t.title}}</h2>
                <li class="img-item">
                    <img src={{t.image_url}}>
                </li>
                <li class="desc-item">{{ t.description}}</li>
                <li class="price-iten">${{ t.inicial_bid}}</li>
            </div>
            {% endif %}
        {% endfor %}
    </ul> 
    <!-- <h1>{{ teste.title }} AAA</h1>
    <img src={{teste}} alt="">   -->
{% endblock %}